/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  margin: 0px;
}

p{
  margin: 0px;
}

#profiles{
  position: relative;
}

.sub-profiles{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
  margin-inline: auto;
  margin-block: 10px;
}

.profile-banner{
  
  height: 50px;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: -70px;
  /* z-index: -1; */
}

.each-profile{
  /* border: solid 1px #7c7c7c; */
  box-shadow: 0px 0px 5px 0px #aeaeae;
  border-radius: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 5px;
  margin-block: 20px;
}

.each-profile:hover{
  cursor: pointer;
}

.other-users{
  background-color: #282c34;
}
.current-user{
  background-color: rgb(255, 208, 54);
}

.hidden-content{
  position:absolute;
  width: 100%;
  height:100%;
  backdrop-filter: blur(5px);
}
